label, input
{
    display: block;
}

fieldset
{
    border: 0;
}

legend
{
    border-bottom: 2px solid black;
    width: 100%;
}

#check, #checkit
{
    display: inline-block;
    margin-top: 16px;
    
}

.container
{
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.pass, .surnames, .code
{
    margin-left: 2em;
}