label, input
{
    display: block;
}

fieldset
{
    border: 0;
}

legend
{
    border-bottom: 2px solid black;
    width: 100%;
}

#check, #checkit
{
    display: inline-block;
    margin-top: 16px;
    
}

.container-2col
{
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.container-3col
{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    margin-top: 10px;
}

.pass, .surnames, .code
{
    margin-left: 2em;
}

.col-1
{
    width: 30%;
}

.col-2
{
    width: 30%;
    margin-left: 2em;
}

.col-3
{
    width: 30%;
    margin-left: 2em;
}